@page "/"
@model LoginModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="login-page">
    <!-- TOP BAR -->
    <header class="login-topbar">
        <div class="login-topbar-left">DeSales University Code Jam</div>

    </header>

    <!-- CENTER CONTENT -->
    <div class="login-center-wrap">
        <div class="login-center">
            <p class="login-welcome">
                Welcome to the Annual Code Jam Hosted by DeSales University. Please select your team in the drop down menu below and input the code you have been assigned.
            </p>

            <!-- FORM (mock only) -->
            <div class="login-form">
                <div class="login-row">
                    <div class="login-label mono">Team</div>
                    <select id="teamSelect" class="login-input mono">
                        <option disabled selected>Select User</option>
                        <option>Team</option>
                        <option>Judge</option>
                    </select>
                </div>

                <div class="login-row">
                    <div class="login-label mono">PASSWORD</div>
                    <input id="passwordInput" class="login-input mono" type="password" />
                </div>

                <button class="login-enter mono" type="button" onclick="checkPassword()">&gt;&gt; ENTER &lt;&lt;</button>
            </div>
        </div>
    </div>
</div>
<script>
function checkPassword() {

    const password = document.getElementById("passwordInput").value;
    const selectedUser = document.getElementById("teamSelect").value;

    const HARDCODED_PASSWORD = "codejam2026";

    if (password !== HARDCODED_PASSWORD)
    {
        alert("Incorrect password");
        return;
    }

    //redirect based on dropdown
    if (selectedUser === "")
    {
        alert("Please select a user.");
        return;
    }

    if (selectedUser === "Judge")
    {
        window.location.href = "/Judge";
        return;
    }

    if (selectedUser === "Team")
    {
        window.location.href = "/Team";
        return;
    }

    alert("Invalid selection.");

    fetch('/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            "username": username
            "password": password
            
        })
    })
    .then(response => response.text())
    .then(data => {
        console.log('Server responded:', data);
    })
    .catch(error => {
        console.error('Error:', error);
    });

}
</script>
