@page
@model TeamModel
@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Team";
}

<div class="team-page">

    <!-- TOP BAR -->
    <header class="team-topbar">
        <div class="team-topbar-left">&gt;&gt; TEAM 1</div>

        <div class="team-topbar-right">
            <a class="team-navlink" asp-page="/Submission">Submission</a>
        </div>
    </header>

    <!-- CONTENT GRID -->
    <div class="container-fluid team-content">
        <div class="row g-3">

            <!-- LEFT COLUMN: IDE + OUTPUT -->
            <div class="col-12 col-lg-7">

                <!-- CODING INTERFACE -->
                <section class="panel panel-tall">
                    <div class="panel-title">CODING INTERFACE</div>
                    <div class="panel-text red">
                        Here is where participants will write code.
                    </div>

                    <div class="panel-body mono-pre">
import random

def simulate_spell(num_dice, num_sides):
    total = 0

    for _ in range(num_dice):
        roll = random.randint(1, num_sides)
        total += roll

    return total


# Example usage
damage = simulate_spell(3, 6)
print("Spell dealt", damage, "damage!")
                    </div>
                </section>

                <!-- CODING OUTPUT -->
                <section class="panel panel-short mt-3">
                    <div class="panel-title">Terminal</div>
                    <div class="panel-text red">
                        This is where the participants will be able to see code output or errors.
                    </div>

                    <div class="panel-body mono-pre">
Spell dealt 11 damage!
                    </div>
                </section>
            </div>

            <!-- RIGHT COLUMN: SCOREBOARD -->
            <div class="col-12 col-lg-5">
                <section class="panel panel-scoreboard">
                    <div class="scoreboard-title">SCORE BOARD</div>
                    <div class="scoreboard-divider">========</div>

                    <div class="scoreboard-rows">
                        <div class="scoreboard-row highlight-yellow">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row highlight-orange">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                        <div class="scoreboard-row">
                            TEAM NAME#1 | RANK # | POINT #
                        </div>
                    </div>

                    <div class="scoreboard-bottom-divider">+-+-+-+-+-+-+-+-+-+-+-+-+-+-</div>

                    <div class="scoreboard-time">
                        <div class="scoreboard-time-label">Current Time</div>
                        <div class="scoreboard-time-value">00:00</div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
