@page
@{
    ViewData["Title"] = "Controls";
    Layout = "_AppLayout";
}

<div class="controls-page">

    <!-- TOP BAR -->
    <header class="controls-header">
        <div class="controls-header-left">ADMIN OPTIONS/DEBUG</div>
        <div class="judge-header-right">
            <a class="judge-navlink" asp-page="/Judge">&lt;&lt; BACK TO JUDGE</a>
            <span class="judge-sep">|</span>
            <a class="judge-navlink" asp-page="/Scoreboard">SCOREBOARD</a>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <div class="container-fluid controls-content">
        <div class="row g-3">

            <!-- LEFT SIDE -->
            <div class="col-12 col-lg-7">

                <!-- TEAM SELECTOR BLOCK -->
                <section class="controls-block">
                    <div class="controls-row">
                        <button class="ctrl-arrow" type="button">&lt;</button>

                        <div class="ctrl-display">
                            <span class="ctrl-display-text">&gt;&gt; TEAM # &lt;&lt;</span>
                        </div>

                        <button class="ctrl-arrow" type="button">&gt;</button>
                    </div>

                    <div class="controls-row mt-2">
                        <button class="ctrl-small" type="button">+1 Score</button>
                        <button class="ctrl-small" type="button">-1 Score</button>
                    </div>
                </section>

                <!-- OPTIONS SELECTOR BLOCK -->
                <section class="controls-block mt-5">
                    <div class="controls-row">
                        <button class="ctrl-arrow" type="button">&lt;</button>

                        <div class="ctrl-display">
                            <span class="ctrl-display-text">&gt;&gt; Options &lt;&lt;</span>
                        </div>

                        <button class="ctrl-arrow" type="button">&gt;</button>
                    </div>
                </section>

            </div>

            <!-- CENTER DIVIDER -->
            <div class="d-none d-lg-flex col-lg-1 justify-content-center">
                <div class="controls-divider"></div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="col-12 col-lg-4">
                <div class="controls-right-stack">
                    <button class="ctrl-big" type="button">HIDE SCOREBOARD</button>
                    <button class="ctrl-big" type="button">OPTION 1</button>
                    <button class="ctrl-big" type="button">OPTION 2</button>
                    <button class="ctrl-big" type="button">OPTION 3</button>
                    <button class="ctrl-big" type="button">CLEAR DATABASE</button>
                </div>
            </div>

        </div>
    </div>
</div>